.servicesPage{
    width: 100%;
    height: auto;
   background-color: khaki;
}
.heading{
    text-transform:initial;
    font-size: 30px;
    font-weight: 600;
    color: chocolate;
    text-align: center;
   }
.headingBox{
    width: 100%;
    padding-top:50px;
   }
.groups{
    display: flex;
    justify-content: center;
   padding-top: 50px;
   padding-bottom: 32px;
}
