.smallgroupVisible{
    width: 460px;
    height: auto;
    transition: 4s;
    background-color:rgb(99, 62, 36);
    position: absolute;
    top: 23%;
    left:14%;
    display:block;
    opacity: .9;
    z-index: 4;
    border-radius: 10px;
}

.smallgroupVisible.hidden{
    display:none;
}
.text{
    font-size: 30px;
    color:white;
    margin-top: 5%;
    margin-left: 13%;
    line-height: 1.5;
    list-style:disc;
    padding-bottom: 53%;
}
.textLi{
    font-size: 20px;
}
@media only screen and (max-width:600px){
    .smallgroupVisible{
        width: 460px;
        height: auto;
        transition: 4s;
        background-color:rgb(99, 62, 36);
        position: absolute;
        top: 23%;
        left:6%;
        display:block;
        opacity: .9;
        z-index: 4;
        border-radius: 10px;
    }
}
@media only screen and (max-width:350px){
    .text{
        font-size: 20px;
        color:white;
        margin-top: 5%;
        margin-left: 13%;
        line-height: 1.5;
        list-style:disc;
        padding-bottom: 57%;
    }
    .textLi{
        font-size: 15px;
        
    }
    .smallgroupVisible{
        width: 460px;
        height: auto;
        transition: 4s;
        background-color:rgb(99, 62, 36);
        position: absolute;
        top: 23%;
        left:2%;
        display:block;
        opacity: .9;
        z-index: 4;
        border-radius: 10px;
    }
}
