.navList{
    list-style: none;
    display: flex;
}
.navItem{
    margin-right: 30px;
    font-size: 30px;
    font-weight: 700;
}
.navLink{
    cursor: pointer;
    text-decoration: none;
    color:rgb(105, 70, 56);
    
    }
 .activeNavLink{
    background-color:rgb(240, 212, 152);
    border-radius: 10px;
    padding: 3px 10px;
    text-decoration: none;
    }
.navLink:hover{
    color:rgb(105, 70, 56);
    text-decoration: none;
    
    background-color:rgb(243, 221, 174);
    padding: 3px 10px;
    border-radius: 10px;
}
@media only screen and (max-width:1400px){
    .navList{
        display: none;
    }
}
