.seniorgroupVisible{
    width: 460px;
    height: 630px;
    transition: 4s;
    background-color:rgb(99, 62, 36);
    position: absolute;
    top: 23%;
    right: 14%;
    display:block;
    opacity: .9;
    z-index: 4;
    border-radius: 10px;
}
.seniorgroupVisible.hidden{
    display:none;
}

.text{
    font-size: 30px;
    color:white;
    margin-top: 5%;
    margin-left: 13%;
    line-height: 1.5;
    list-style:disc;
}
.textLi{
    font-size: 20px;
}
@media only screen and (max-width:1400px){
    .seniorgroupVisible{
        width: 460px;
        height: 630px;
        transition: 4s;
        background-color:rgb(99, 62, 36);
        position: absolute;
        top: 92.5rem;
        right: 14%;
        display:block;
        opacity: .9;
        z-index: 4;
        border-radius: 10px;
    }
}
